<div class="row row-cols-1 row-cols-md-4 g-4">
    <div *ngFor="let product of products">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{product.price}}€</h6>
                    <p class="card-text">{{product.description}}</p>
                </div>
                <app-edit-product [product]="product"></app-edit-product>
                <app-delete-product [product]="product"></app-delete-product>
            </div>
        </div>
    </div>
</div>